*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    body{
    background-color: #f2f2f2;
    }
    
    #timer-text{
    margin: 20px 0;
    font-size: 4em;
    text-align: center;
    }
    
    #test-box{
    width: 90%;
    max-width: 1400px;
    height: 30vh;
    max-height: 500px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    font-size: 1.8em;
    line-height: 65px;
    padding: 15px;
    }
    
    #test-box-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    #test-box-text span{
    font-family: inherit;
    border-radius: 3px;
    padding: 5px;
    
    }
    
    .current-word{
    background-color: #dddddd;
    }
    
    form{
    width: 100%;
    display: flex;
    justify-content: center;
    }
    
    #write-box{
    font-family: inherit;
    font-size: 1.5em;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    margin: 5vh auto 0 auto;
    min-height: 75px;
    max-height: 15vh;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 20px -10px black;
    outline: none;
    }
    
    #score{
    display: none;
    margin: 60px auto;
    text-align: center;
    font-size: 4em;
    }

    #error{
        display: none;
        margin: 60px auto;
        text-align: center;
        font-size: 4em;
    }

    #accuracy{
        display: none;
        margin: 60px auto;
        text-align: center;
        font-size: 4em;
    }

    #buttonback{
        display: none;
        background-color: #f05f40;
        border: none;
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 40px;
    }